//Created by 000144 on 2017/4/5
div
    -var AirPlaneTicketType=0;
    -var hasPlanTicket=false;

    each h_val,h_item in data.ProductResourceItemList
      -if(h_val.AirPlaneTicketList && h_val.AirPlaneTicketList.length > 0)
         -hasPlanTicket=true;
    -if(hasPlanTicket)
        .planDefaultBox.mt10
            .icoBox
                span.air_ico
                span.newCeairIco 机票
            .airTicketContent
               each val,item in data.ProductResourceItemList
                 -if(val.AirPlaneTicketList && val.AirPlaneTicketList.length > 0)
                    each val1,item1 in val.AirPlaneTicketList
                       -AirPlaneTicketType=val1.AirPlaneTicketType;
                       -if(val1.AirPlaneDetailList&&val1.AirPlaneDetailList.length>0)
                         each val2,item2 in val1.AirPlaneDetailList
                            -var departureDate=dataOption.timestampToData(dataOption.timestamp(val2.DepartureTime),'-');
                            -var departureTime=dataOption.getTime(val2.DepartureTime);
                            -var timeLength=dataOption.getFlyingTime(val2.TimeLength);
                            -var DestinationDate=dataOption.timestampToData(dataOption.timestamp(val2.DestinationTime),'-');
                            -var DestinationTime=dataOption.getTime(val2.DestinationTime);
                            -var ExchangeRule = dataOption.textReplace(val2.ExchangeRule);
                            .airTicketBox.clearfix
                                .flightNo
                                    img(src=val1.AirLineLogo)
                                    .flyDescr #{val1.AirLineName}&nbsp;#{val2.FlightNo}
                                       div #{val2.FlightStyle}
                                         -if(val2.IsShareAirLineLine)
                                          | 共享
                                .flightInfor
                                    .startDesti
                                        .Site #{val1.DepartureTravelCityName}
                                        .Port #{val2.DepartureAirPort}#{val2.StartTerminalName}
                                        .flyDate #{departureDate}
                                        .flyTime #{departureTime}
                                    .stateTime
                                        .timeTop
                                          -if(val2.IsDirect)
                                             | 直达
                                          -else
                                             | 经停
                                        .timeIcon
                                        .timeBottom #{timeLength}
                                    .endDesti
                                        .Site #{val1.DestinationTravelCityName}
                                        .Port #{val2.DestinationAirPort}#{val2.EndTerminalName}
                                        .flyDate #{DestinationDate}
                                        .flyTime #{DestinationTime}
                                .flightRuler
                                    .tank #{val2.ShippingSpaceName}
                                    -if(val2.ExchangeRule)
                                      a.rul.tooltip(data-text=ExchangeRule) 退改签规则
                                    -if((val1.AirPlaneTicketType==2&&!(val2.Quantity==='>9'|| parseInt(val2.Quantity) == 0 || parseInt(val2.Quantity) > 5))||(val1.AirPlaneTicketType!=2&&val2.Quantity<=val2.WarningQuantity))
                                      .tickets
                                         | 仅剩#{val2.Quantity}张;
                                span.airState(data-segment=val1.SegmentID)
                                    -var direction=val2.Direction;
                                    case direction
                                        when 1
                                           | 去程
                                        when 2
                                           | 返程
                                        when 3
                                           | 中转
            .modifyBtn#modyfyTicket(data-type=AirPlaneTicketType)
                span.resetIcon
                span 修改航班
    each h_val,h_item in data.ProductResourceItemList
      -if(h_val.HotelList && h_val.HotelList.length > 0)
         //-酒店默认价格
         -var defaultSumPrice=0;
         each h_val1,h_item1 in h_val.HotelList
             -if(!!h_val1.DefaultRoom && !!h_val1.IsDefault)
                -defaultSumPrice=h_val1.DefaultRoom.PriceInfoList[0].OriginalPrice*h_val1.DefaultRoom.BookingCount;
         each h_val1,h_item1 in h_val.HotelList
            -var sitNight=dataOption.getHotelNightDay(new Date(h_val1.CheckInDate * 1000), new Date(h_val1.CheckOutDate * 1000));
            -var checkInDate=dataOption.getMonthDay(new Date(h_val1.CheckInDate * 1000));
            -var CheckOutDate=dataOption.getMonthDay(new Date(h_val1.CheckOutDate * 1000));
            .hotelDefaultBox.mt10
                .icoBox
                    span.hotel_ico(data-segment=h_val.ProductSegment.ID)
                    span.newCeairIco 酒店
                .hotelContent
                    .topInfo
                        img.previewPic(src=h_val1.PicUrl)
                        .textIntroduction.clearfix
                            .leftDetail
                                h2 #{h_val1.HotelName}
                                .star.star5
                                .addressDetail #{h_val1.HotelAddress}
                                .placeDays #{h_val1.TravelCityName} / #{sitNight}晚
                                .sitDate  入住  #{checkInDate}—离店  #{CheckOutDate}
                                .introduceDetail #{h_val1.HotelDes}
                    table.roomTypeWrap
                        tr.header
                            th.roomTypeCol 房型
                            th.foodCol 早餐
                            th.bedTypeCol 床型
                            th.netCol 宽带
                            th.countCol 间数
                            th.bedCountCol 加床
                            th.differenceCol 差价
                            th.checkCol
                        each h_val2,h_item2 in h_val1.RoomList
                            //-房间详情
                            -var roomDetail= dataOption.textReplace(h_val2.ResourceDesc);
                            //-最小预定数量
                            -var minNum=h_val2.BookingCount;
                            //-库存
                            -var quantity=h_val2.Quantity;
                            -var minNumFor=minNum;
                            -var adultRoomOriginPrice=0;
                            -if(data.PkgProductInfo.ProductType== 1)
                                -minNumFor=h_val2.MaxBookingCount;
                            each p_val,p_item in h_val2.PriceInfoList
                               -if(p_val.PassagerType)
                                  -adultRoomOriginPrice=p_val.OriginalPrice;
                            //-计算酒店的差价
                            -var diffRoomPrice=minNum * adultRoomOriginPrice - defaultSumPrice;
                            tr.first
                                td(class='roomTypeCol lastCol',data-provideId=h_val2.ProviderID,data-rateplanId=h_val2.RatePlanID,data-roomID=h_val2.ResourceID,data-sigglePrice=adultRoomOriginPrice,data-minNum=minNum)
                                    img(src=h_val2.PictureURL)
                                    .description(data-text=roomDetail) #{h_val2.ResourceName}
                                td
                                  case h_val2.Breakfast
                                      when 1
                                          | 单早
                                      when 0
                                          | 无早
                                      when 2
                                          | 双早
                                      when 3
                                          | 三早
                                      when 4
                                          | 四早
                                td
                                  case h_val2.BedType
                                      when 1
                                          | 大床
                                      when 2
                                          | 双床
                                      when 3
                                          | 单人床
                                      when 4
                                          | 多床
                                      when 5
                                          | 大床/双床
                                      when 6
                                          | 圆床
                                      when 7
                                          | 榻榻米
                                      when 8
                                          | 水床
                                td
                                  -if(h_val2.WIFI)
                                     | 免费WiFi
                                  -else
                                     | 无WiFi
                                td.roomNum
                                  .clearfix
                                    -if(!!quantity && quantity <= 5 && quantity > 0)
                                      .rest 剩#{quantity}间
                                    -var myzindex="z-index:"+(1000-h_item2);
                                    .selectModel(style=myzindex)
                                        span.select #{minNum}
                                        ul.downList(style='display: none;')
                                            -for (var i = h_val2.MinBookingCount; i <= minNumFor; i++)
                                                li #{i}
                                        input(type='hidden',value='2',name='roomCount')
                                td.bedCount
                                   -if(h_val2.CanAddBed)
                                       | 可加
                                   -else
                                       | 不可加
                                td.roomPrice(diffPrice=diffRoomPrice)
                                   -if(diffRoomPrice<0)
                                      span.diff.less #{-diffRoomPrice}
                                   -else
                                      span.diff.more #{diffRoomPrice}
                                td.checkCol
                                   -if(h_val2.IsDefault)
                                     i.selected.active
                                   -else
                                     i.selected
                    .foldOrNot.active
                        .icon
                        .foldText 收回房型
                .modifyBtn.modifyHotel(data-type=h_val1.HotelType,data-name=h_val1.HotelName,data-checkindate=h_val1.CheckInDate,data-checkoutdate=h_val1.CheckOutDate,data-segmentid=h_val.ProductSegment.ID)
                    span.resetIcon
                    span 修改酒店
    -if(data.PkgProductInfo.EnableAirportService!=false&&hasPlanTicket)
      .transferDefaultBox.mt10
        .icoBox
            span.transfer_ico
            span.newCeairIco 接送机
        .transferTicketContent
            .transfer_button.clearfix
                ul#isNeedTransfer.button
                  -if(data.IsRequireTransfer!=false)
                    li.need.active 我要接送机
                    li.noneed 不要接送机
                  -else
                    li.need 我要接送机
                    li.noneed.active 不要接送机
                i.ico_tip
                    em#ga_pcjselect_icon.tooptip(data-trigger='hover', data-class='newStyle', data-place='top', data-bottom='34px', data-left='-143px', data-width='400px', data-text='<h3><b>服务说明:</b></h3><p> 1.接送机产品是指上车地点到下车地点中途不停留的服务，不能临时变更路线。司机会根据实际路况合理安排驾驶路线，不接受中途停靠或绕路；</p><p> 2.您支付的总价包含本次用车的全部费用，若您已经成行，将收取您全额用车费用，</p><p>3.儿童及婴儿即使不占用座位也需计入乘车人数，请您预订时合理选择车型；</p><p>4.各车型的承载人数及行李件数都有所限制，请您在选择车型时仔细核对，由于您自身选择不符车型而影响您的用车，该损失由您自行承担；</p><p>5.若您选择的地址因交通因素无法送达，如送达岛屿、森林、山脉、沙漠、海上、藻泽地、无人区等，会视情况送您到就近的地点，如嵊泗岛，司机会送您至轮渡码头，请您自行乘船前往，还请您在预订时提前做好线路规划。</p><p>6.接送机发票会由供应商单独邮寄给您，预计在提交开票申请后8个工作日内送达。</p><h3><b>退改说明:</b></h3><p>1.东航会在您用车前3小时告知司机信息，若无司机应答，东航自动取消订单，订单全额退款，敬请谅解。</p><p>2.距约定乘车时间3小时前取消订单，将不收取任何费用；3小时内（含3小时）取消将收取订单全额损失，用作补偿司机。</p><p>3.订单一旦提交成功，包括乘车人，用车时间，上车地址，下车地址等信息均无法修改。</p><p><b>此服务由第三方服务商滴滴出行提供，如在服务中遇到问题，请拨打供应商电话400-000-0999转2为您提供24小时服务</b></p>') 规则说明
            .dsn_detail.clearfix
                span.transerImg
                div
                    h3 接送机服务
                    p
                        | 东航为您提供24小时机场接送机服务，接机产品还可以根据您的航班号免费等待，专业司机提前到达短信通知，无论白天黑夜，飞机延误与否，东航接送机承诺我们不见不散。多种高端车型：帕萨特、凯美瑞、奥迪、别克GL8等供您选择。我们拒绝二次消费，一口价送您到达目的地，出行好安心
    #otherDefaultBox

