-for(var i=0,len=ProductList.length;i<len;i++)
    .listItem
        .card.clearfix
            .row1
                -var imgHref = DetailJump(ProductList[i].ID)
                a.imageContain(href=imgHref)
                    span #{ProductList[i].ProductType}
                    img(src=ProductList[i].PC_PictureURL)
            .row2
                -var titleHref = DetailJump(ProductList[i].ID)
                a.title(href=titleHref) #{ProductList[i].ProductName}
                .baselist
                    if ProductList[i].TagList != ''
                        -for(var j = 0 ,lens = ProductList[i].TagList.split(',').length; j<lens;j++)
                            i.warning #{ProductList[i].TagList.split(',')[j]}
                .descrip
                    | #{ProductList[i].ProductSubName}
                .schedule
                    span 班期：
                    span.days #{ProductList[i].ScheduleMonth}
            .row3
                .fenqiBg(data-text=stagesData.dataText)
                .priceStart
                    case ProductList[i].MinPrice
                        when '实时计价'
                            span.realPrice 实时特价
                        default
                            span
                                i ￥
                                | #{ProductList[i].MinPrice.split('.')[0]}
                                i 起
                .checkDetails
                    -var productHref = DetailJump(ProductList[i].ID)
                    a(href=productHref,target='_blank')
                        | 查看详情
