-for(var i=0,len=FilterArray.length;i<len;i++)
    .proBox(data-id = FilterArray[i].TypeID)
        case FilterArray[i].TypeID
            when 1
                    span 产品类型
            when 2
                    span 行程天数
            when 3
                    span 出发班期
            when 4
                    span 所属国家
            when 5
                    span 目的城市

        if  FilterArray[i].List.length >16
            ul.hideLi
                -for(var j = 0,lens=FilterArray[i].List.length;j<lens;j++)
                    li(item =FilterArray[i].List[j].Value) #{FilterArray[i].List[j].Name}
            .rightBtn
                .moreBtn
                    span.rrow
                    span.rrowHide
                    span.moreDay 更多
                //.multiBtn 多选
        else if FilterArray[i].List.length > 0
            ul
                -for(var j = 0,lens=FilterArray[i].List.length;j<lens;j++)
                    li(item =FilterArray[i].List[j].Value) #{FilterArray[i].List[j].Name}