- for(var i=0,len=AirPlaneTicketList.length;i<len;i++)
    .backMessage
            //航班主要信息
            .backBottom
                .flightNo
                    img(src="./images/logo.png")
                    .flyDescr
                           | #{AirPlaneTicketList[i].AirLineName} &nbsp;#{AirPlaneTicketList[i].AirPlaneDetailList[0].FlightNo}
                           br
                           |#{AirPlaneTicketList[i].AirPlaneDetailList[0].FlightStyle}
                    a.bookingIcon
                .flightInfor
                    .startDesti
                        .Site #{AirPlaneTicketList[i].DepartureTravelCityName}
                        .Port #{AirPlaneTicketList[i].AirPlaneDetailList[0].DepartureAirPort}#{AirPlaneTicketList[i].AirPlaneDetailList[0].StartTerminalName}
                        //起飞时间处理
                        - var startTime=(AirPlaneTicketList[i].AirPlaneDetailList[0].DepartureTime).slice(-8,-3)
                        .flyTime #{startTime}
                    .stateTime
                        //判断是否直达
                        - var direct=AirPlaneTicketList[i].AirPlaneDetailList[0].IsDirect
                        if direct
                           .timeTop 直达
                        else
                           .timeTop 中转
                        .timeIcon
                        .timeBottom #{AirPlaneTicketList[i].AirPlaneDetailList[0].TimeLength}
                    .endDesti
                        .Site #{AirPlaneTicketList[i].DestinationTravelCityName}
                        .Port #{AirPlaneTicketList[i].AirPlaneDetailList[0].DestinationAirPort}#{AirPlaneTicketList[i].AirPlaneDetailList[0].EndTerminalName}
                        //到达时间处理
                        - var endTime=(AirPlaneTicketList[i].AirPlaneDetailList[0].DestinationTime).slice(-8,-3)
                        .flyTime #{endTime}
                .flighDescr 航班详情
                .priceTick.priceTick1
                    .noCheck.check(data-rank="best")
                    .priceConten
                        .ticketPric
                            | ￥
                            span #{AirPlaneTicketList[i].PriceInfoList[0].Price}
                        .ticketTax 参考税费￥#{AirPlaneTicketList[i].PriceInfoList[0].OriginalPrice}
                .priceTick
                    .noCheck.check(data-rank="good")
                    .priceConten
                        .ticketPric
                            | ￥
                            span #{AirPlaneTicketList[i].PriceInfoList[1].Price}
                        .ticketTax 参考税费￥#{AirPlaneTicketList[i].PriceInfoList[1].OriginalPrice}
            //航班详情
            .details.clearfix
                .concrete
                    - var startDate=(AirPlaneTicketList[i].AirPlaneDetailList[0].DestinationTime).substring(0,10)
                    .flyDate #{startDate}
                    .breakIcon
                    .flyMessage
                        .leaveDesc
                            span 出发
                            span #{startTime}
                            span #{AirPlaneTicketList[i].DepartureTravelCityName}
                            span #{AirPlaneTicketList[i].AirPlaneDetailList[0].DepartureAirPort} #{AirPlaneTicketList[i].AirPlaneDetailList[0].StartTerminalName}
                        .arriveDesc
                            span 到达
                            span #{endTime}
                            span #{AirPlaneTicketList[i].DestinationTravelCityName}
                            span #{AirPlaneTicketList[i].AirPlaneDetailList[0].DestinationAirPort} #{AirPlaneTicketList[i].AirPlaneDetailList[0].EndTerminalName}
                        .totalTime
                            span 行程时间
                            span #{AirPlaneTicketList[i].AirPlaneDetailList[0].TimeLength}
                .flyNo
                    | #{AirPlaneTicketList[i].AirLineName}&nbsp;#{AirPlaneTicketList[i].AirPlaneDetailList[0].FlightNo}<br/>#{AirPlaneTicketList[i].AirPlaneDetailList[0].FlightStyle}
                    a.bookingIcon.boo
            //仓位详情
            .freightSpace.clearfix
                - for(var j=0, le=AirPlaneTicketList[i].AirPlaneDetailList.length;j<le;j++)
                    .priceContain
                        .leftArea
                            .cabin #{AirPlaneTicketList[i].AirPlaneDetailList[j].ShippingSpaceName}
                            .labelcontain
                                span
                                span
                                span
                        .rightArea
                            .bookingNow
                                | ￥
                                span #{AirPlaneTicketList[i].AirPlaneDetailList[j].PriceInfoList[0].Price}
                                a.yellowBtn(data-info=AirPlaneTicketList[i].AirPlaneDetailList[j] )
                                    | 立即预定
                                    i &gt;
                            .cabinMess
                                .tickets 剩#{AirPlaneTicketList[i].AirPlaneDetailList[j].Quantity}张
                                .positionCabin #{AirPlaneTicketList[i].AirPlaneDetailList[j].AirPlaneCode}舱



