extends ../src/template/pageDefault.pug
block vars
	- var config = {title:"商品详情", body:{cls:""},keywords:'商品详情',description:'商品详情'}
block css
	link(href='../css/detail.css',rel='stylesheet')
//-页面使用到的js
block js
	script(src='../libs/jquery-1.8.3.min.js',type='text/javascript')
	script(src='../libs/socket.io.js',type='text/javascript')
	script(src='../js/detail.min.js',type='text/javascript')
//- 页面主体内容
block mainContent
	include ../src/template/header.pug
	.wrap.clearfix
		.detailWraper
			.detail.clearfix
				.title #{info.title}
				.detailWrap.clearfix
					.imgWrap#imgWrap
						.bigImg
							if imageArr&&imageArr.length
								img(src="../userPic/"+imageArr[0])
						.thumbImg
							//- span.left
							.imgGroup
								- for(let i=0;i<imageArr.length;i++)
									if i<3
										img(class=i==0?'active':'',src="../userPic/"+imageArr[i])
							//- spam.right
					.textWrap
						.price 现价：
							span #{info.price}
							|元
						.area 区域：
							span #{info.area}
						.description #{info.description}
						.btnWrap.clearfix
							.connect#connect(data-img=author.avatar,data-name=author.name,data-id=author._id) 联系卖家
							.buy 我要购买
						.approval.clearfix
							.want#want 想要
							.num 0人想要
						.comment 我要留言
						span.time 发布于 #{moment(info.create_at).format('YYYY-MM-DD')}
						span.time 更新于 #{moment(info.update_at).format('YYYY-MM-DD')}
			.desc.hori 
				.title 宝贝描述
				.descWrap #{info.description}
			.comm.hori
				.title 
					|宝贝留言（
					span.num 0
					|）
				.commWrap
					.item
			.desc.hori 
				.title 宝贝图片
				.descWrap
					if imageArr&&imageArr.length
						each item in imageArr
							img(src="../userPic/"+item)
		.sideWrap
			.label 发布者
			img(src=author.avatar)
			.name #{author.name}
			.nameDetail 他加入平台#{day}天






