extends ../src/template/pageDefault.pug
block vars
    - var config = {title:"信息列表", body:{cls:""},keywords:'信息列表',description:'信息列表'}
block css
    link(href='css/list.css',rel='stylesheet')
//-页面使用到的js
block js
    script(src='libs/jquery-1.8.3.min.js',type='text/javascript')
    script(src='js/list.min.js',type='text/javascript')
//- 页面主体内容
block mainContent
    include ../src/template/header.pug
    .eleListWrap
        .crumbs 
            a(href="../") 首页
            |&nbsp;&gt;&nbsp;
            |#{crumbs}
        .bigBox
            .conditionFilter.clearfix#filterBox
                .filterItem(key='brand')
                    span.itemLabel 类别
                    ul.itemSub.checkboxGroup
                        li.not.checked  不限
                            li.checkbox(data-value="苹果") 苹果
                            li.checkbox(data-value="三星") 三星
                            li.checkbox(data-value="华为") 华为
                            li.checkbox(data-value="小米") 小米
                            li.checkbox(data-value="魅族") 魅族
                            li.checkbox(data-value="OPPO") OPPO
                .filterItem(key='price')
                    span.itemLabel 价格
                    ul.itemSub.checkboxGroup
                        li.not.checked  不限
                            li.checkbox(data-value="0-1000") ￥1000以下
                            li.checkbox(data-value="1000-2000") ￥1000-2000
                            li.checkbox(data-value="2000-3000") ￥2000-3000
                            li.checkbox(data-value="3000-4000") ￥3000-4000
                            li.checkbox(data-value="4000-100000") ￥4000以上
                        li.customPrice
                            span.diy 自定义
                            span
                                input(type='text',name='min')
                            span.sto -
                            span
                                input(type='text',name='max')
                            span.confirm 确认
                            span.cancel 取消
                .filterItem(key='area')
                    span.itemLabel 区域
                    ul.itemSub.checkboxGroup
                        li.not.checked  不限
                            li.checkbox(data-value="烟台") 烟台
        .detailListWrap.clearfix#typeList
            .prodList#prodList
                each item in info
                    .prodItem.clearfix
                        a(href='./detail/'+item._id)
                            img.prodPic(src="../userPic/"+item.images)
                        .detail
                            a.title(href='./detail/'+item._id,title=item.title) #{item.title}
                            .price #{item.price}
                            .description(title=item.description) #{item.description}
                            .time 发布于 #{moment(item.create_at).format('YYYY-MM-DD')}
                            .location #{item.area}
                        .publisher
                            .head
                                img(src=item.classify)
                            .name #{item.brand}
            .history
                h1 您可能感兴趣的商品

            //- .listFooter
            //-     #page_id.pagerControls.orderPaging.clearfix
