extends ../src/template/pageDefault.pug
block vars
	- var config = {title:"个人中心", body:{cls:""}}
block css
	//- link(href='css/travel.css',rel='stylesheet')
	link(rel='stylesheet', href='css/person.css')
block js
	script(src='libs/jquery-1.8.3.min.js',type='text/javascript')
	script(src='js/person.min.js',type='text/javascript')
block mainContent
	include ../src/template/header.pug
	.personWrap
		.topMe
			.top
			.bottom
				img.avator(src='./img/default.jpg')
				span.name #{user.name}
				.perInfo 暂无个人资料
				.edit 编辑个人资料
		.contentMe#contentMe
			.nav
				ul.clearfix
					li.active 我的发布
					li 我的收藏
					li 我买到的
					li 我的消息（#{msg.length}）
			.content
				.publishList.list.active
					each item in info
						.item
							a(href='./detail/'+item._id)
								img.prodPic(src="../userPic/"+item.images)
							.detail
								a.title(href='./detail/'+item._id,title=item.title) #{item.title}
								.price #{item.price}
								.description(title=item.description) #{item.description}
								.editme
									a.change.blueSmallBtn(href='./publish/'+item._id) 修改
									span.delete.yellowSmallBtn.delete(data-id=item._id) 删除
				.approList.list
					- for(var i=0;i<3;i++)
						.item
							a(href='./detail/')
								img.prodPic(src="./img/default.jpg")
							.detail
								a.title(href='./detail/') 华为 P8 华为 GRA-TL00 1200元 华为p8
								.price 1999
								.description(title) 十月底的 现在因个人原因想换7p 不能说全新 99新是没问题 而且各方面都完好 诚信出售 价格好商量 送自用手机壳两个 带一个一年的屏幕险 一年内屏坏了免费换新
								.editme
									span.cancel.act 取消收藏
				.buyList.list
					- for(var i=0;i<3;i++)
						.item
							a(href='./detail/')
								img.prodPic(src="./img/default.jpg")
							.detail
								a.title(href='./detail/') 华为 P8 华为 GRA-TL00 1200元 华为p8
								.price 1999
								.description(title) 十月底的 现在因个人原因想换7p 不能说全新 99新是没问题 而且各方面都完好 诚信出售 价格好商量 送自用手机壳两个 带一个一年的屏幕险 一年内屏坏了免费换新
				.msgList.list#msgList
					if msg&&msg.length
						each line in msg
							.chatLine
								span.grey-text #{line.author_name}
								span.chat-content #{line.content}
								span.grey-text.right #{moment(line.create_at).format('YYYY-MM-DD hh:mm:ss')}
